
{{#restaurants}}

<div class="panel panel-default">
  <a href="#"><div class="panel-heading"><h4>{{name}}</h4></div></a>
  <div class="panel-body">
    <p><img src="{{img_url}}" class="img-circle pull-right">{{location}}</p>
    <hr>
    Type: {{type}}
    </br>
    Cuisine: {{cuisine}}
  </div>

</div><!--/panel-body-->
{{/restaurants}}
